<div class="form-item form-item--file">
    {% if element.title %}
    <label for="{{ name }}" class="form-item__label{% if element.required %} form-item__label--required{% endif %}">
        {{ element.title }}
    </label>
    {% endif %}

    {% if element.prefix %}{{ element.prefix | safe }}{% endif %}

    <input
        type="file"
        id="{{ name }}"
        name="{{ name }}"
        class="form-file"
        {% if element.required %}required{% endif %}
        {% if element.disabled %}disabled{% endif %}
        {% if element.attributes %}{% for key, value in element.attributes %} {{ key }}="{{ value }}"{% endfor %}{% endif %}
    >

    {% if element.suffix %}{{ element.suffix | safe }}{% endif %}

    {% if element.description %}
    <p class="form-item__description">{{ element.description }}</p>
    {% endif %}
</div>
